.neo{
	position: absolute;
	left: 30%;
	top: 18%;
	font-size:300%;
	color:white; 
}
.neo2{
	position: absolute;
	left:45%;
	top:90%;
	font-size:250%;
	color:white;  
}
.fondo{background-image: url("../Fotos/fondo2.jpg");
	background-size: cover;
}	
.yo{
	position: absolute;
	left:2%;
	top:5%;
	width:25%;
	height:40%;
	border-radius:10%;
}
.neo3{
	position: absolute;
	left:32%;
	top:35%;
	font-size:290%;
	color:white;

}
.boton1{
	position: absolute;
	left:27%;
	top:57%;
	width:13%; 
	height:9%;
	background-color:#14C5F1;

}
.pe1{
	background-image: url("../Fotos/fondo2.jpg");
	background-size: cover;
}
.pe1neo{
	position: absolute;
	left: 42%;
	top: 10%;
	font-size:350%;
	color:white; 

}
.volver{
	position: absolute;
	left:2%;
	top:3%;
	width:13%; 
	height:9%;
	background-color:#58FFE7;

}
.boton2{
	position: absolute;
	left:30%;
	top:75%;
	width:13%; 
	height:9%;
	background-color:#14C5F1;

}
.peri2{
	background-image: url("../Fotos/fondo2.jpg");
	background-size: cover;

}
.peri2t{
	position: absolute;
	left: 42%;
	top: 10%;
	font-size:350%;
	color:white; 
}
.boton3{
	position: absolute;
	left:60%;
	top:57%;
	width:13%; 
	height:9%;
	background-color:#14C5F1;


}
.pe3{
	background-image: url("../Fotos/fondo2.jpg");
	background-size: cover;
}
.pe3t{
	position: absolute;
	left: 42%;
	top: 10%;
	font-size:350%;
	color:white; 
}
.boton4{
	position: absolute;
	left:57%;
	top:75%;
	width:13%; 
	height:9%;
	background-color:#14C5F1;


}
.p4neo{
	background-image: url("../Fotos/fondo2.jpg");
	background-size: cover;
}
.pe4{
	position: absolute;
	left: 42%;
	top: 10%;
	font-size:350%;
	color:white; 

}
.parc{
		position: absolute;
	left:2%;
	top:15%;
	width:13%; 
	height:9%;
	background-color:#58FFE7;
}
.d1{
    position: absolute;
    background-color: #9EBDB9 ;
    height: 70%;
    width: 30%;
    left: 35%;
    top: 15%;
    border-radius: 2%;
}
.t1{
    position: absolute;
    left: 39%;
    top: 18%;
    font-size: 150%;
}
.f1{
    position: absolute;
    left: 36%;
    top: 24%;
    width: 28%;
    height: 40%;
}
.frr1{
    position: absolute;
    top: 70%;
    font-size: 150%;
    left: 41%;
}
.d2{
    position: absolute;
    background-color: #9EBDB9 ;
    height: 100%;
    width: 35%;
    top: 0%;
    left: 0%;
    border-radius: 2%;
}
.t2{
    position: absolute;
    left: 1%;
    top: 2%;
    font-size: 100%;
}
.f2{
    position: absolute;
    top: 10%;
    width: 33%;
    height: 40%;
    left: 1%;
}
.e2{
    position: absolute;
    top: 51%;
    font-size: 125%;
    width: 34%;
}
.d3{
    position: absolute;
    background-color: #9EBDB9 ;
    height: 100%;
    width: 35%;
    top: 0%;
    left: 65%;
    border-radius: 2%;
}
.t3{
    position: absolute;
    left: 69%;
    top: 2%;
    font-size: 115%;
}
.f3{
    position: absolute;
    top: 10%;
    width: 33%;
    height: 40%;
    left: 66%;
}
.e3{
    position: absolute;
    top: 51%;
    font-size: 125%;
    width: 34%;
    left: 66%;
}
.t{
    position: absolute;
    left: 35%;
    top: 0%;
    width: 30%;
    height: 15%;
    border-radius: 2%;
    background-color: #9EBDB9; 
}
.te{
    position: absolute;
    left: 42%;
    top: 4%;
    font-size: 150%;
}
.b{
    position: absolute;
    top: 85%;
    left: 35%;
    width: 30%;
    height: 10%;
    background-color: #9EBDB9;
}
.xd{
        position: absolute;
    background-color: #9EBDB9 ;
    height: 5%;
    width: 30%;
    top: 95%;
    left: 35%;
    border-radius: 2%;
}